*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 55%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid grey;
}


.film-poster{
  align-self: center;
  padding: 10px 0 10px 20px;
  position: relative;
  z-index: -1;
}

.film-details {
  padding: 5px 10px;
}

div.action-watch-later {
  position: absolute;
  z-index: 0;
  top: 8px;
  right: 8px;
  color: red;
}

div.action-like {
  position: absolute;
  right: 8px;
  bottom: 8px;
  color: red;
}
